
@font-face {
    font-family: "e-reqular";
    src: url("../fonts/EUCLID\ CIRCULAR\ A\ REGULAR.TTF");
}

@font-face {
    font-family: "e-medium" ;
    src: url("../fonts/EUCLID\ CIRCULAR\ A\ MEDIUM.TTF");
}

@font-face {
    font-family: "e-semibold";
    src: url("../fonts/EUCLID\ CIRCULAR\ A\ SEMIBOLD.TTF");
}

@font-face {
    font-family: "e-bold";
    src: url("../fonts/EUCLID\ CIRCULAR\ A\ BOLD.TTF");
}
